#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  position: fixed;
  background-color: #6a11cb;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLnk {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.liLnk {
  margin-right: 20px;
}

.lnk {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #6b11cb53, #2574fc61);
  color: #333;
  width: 100%;
  overflow-x: hidden;
}

.form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 150px;

}

.addpostform {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
  display: none;
}

.addcommentform {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 80%;
  text-align: center;
  position: fixed;
  z-index: 10;
  display: none;
  font-size: 12px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.inputid {
  margin-top: 3px;
  width: 200px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
  z-index: 1;
}

input[type="submit"] {
  background: #6a11cb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #2575fc;
}

.btn {
  background: white;
  color: #040404;
  font-size: 25px;
  padding: 5px 20px;
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.logout {
  width: 20px;
}

.info {
  width: 24px;
}

.userInfo {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  max-width: 90%;
  margin: 50px auto;
  margin-top: 100px;
  z-index: 10;
  font-size: 10px;
  color: #6a11cb;
  text-align: center;
  display: none;
  position: fixed;
}

.infoDisplay {
  text-align: left;
  font-size: 16px;
}

.exit {
  cursor: pointer;
}

.exit::after {
  content: '❌';
  margin-left: 270px;
  font-size: 16px;
}

.container {
  width: 750px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 15px;
  z-index: 1;
}

.containerC {
  width: 750px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  margin-bottom: 15px;
  z-index: 1;
}

.postMenu {
  margin-top: 150px;
  margin-bottom: 7px;
  z-index: 1;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  display: block;
}

.post {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(8, 8, 8, 0.2);
}

.postI {
  margin-top: 150px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(8, 8, 8, 0.2);
  font-size: 15px;
  width: 750px;
}

.post h2 {
  margin-top: 0;
  color: #6a11cb;
}

.post h1 {
  color: black;
  font-size: 20px;
}

.post p {
  margin: 0;
}

.userPost {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  max-width: 90%;
  margin: 50px auto;
  position: fixed;
  z-index: 10;
  font-size: 10px;
  color: #6a11cb;
  text-align: center;
  display: none;
}

.btnPostA {
  background: rgb(104, 244, 99);
  color: #6a11cb;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.btnPostD {
  background: rgb(241, 85, 85);
  color: #6a11cb;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.btnPostS {
  background: rgb(213, 107, 240);
  color: #6a11cb;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.btnPostC {
  background: rgb(117, 192, 238);
  color: #6a11cb;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.btnPostU {
  background: rgb(239, 226, 87);
  color: #6a11cb;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-right: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #8d6daf56 0%, #3c76dbcb 100%);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.home-welcome {
  font-size: 1.5em;
  margin-top: 10px;
}

.home-content {
  font-size: 1.2em;
  margin-top: 20px;
  max-width: 600px;
  text-align: center;
}