body {
    font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #6b11cb53, #2574fc61);
  color: #333;
  width: 100%;
  overflow-x: hidden;
}

.login-form2 {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.login-form2 h3 {
    grid-column: span 2;
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.login-form2 div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    grid-column: span 2;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    grid-column: span 2;
}